<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/certifications" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Certifications</h2></a>
<a href="{{ "/tenpencils" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Tenpencils</h2></a>
<a href="{{ "/guardianone" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">GuardianOne</h2></a>
<a href="{{ "/phantom" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Phantom</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>